scomm/scomm.iml
scomm/target/
fest-logging/fest-logging.iml
fest-logging/target/
scala-react/scala-react.iml
scala-react/target/
scala-examples/scala-examples.iml
scala-examples/target/
.idea/
workspace.iml
reports/